<!DOCTYPE html>
<html>
  <head>
    <title><%-title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
<% if (locals.idBody != undefined) { %>
  <body id="<%= idBody %>">
 
<% } else {%>
  <body id="admin">
<% } %>


<!-- ------------------------------------------------------------- -->
<!-- ------------------------SIDE HEADER------------------------- -->
<!-- ------------------------------------------------------------- -->
  
  <header id="panel">
    <a href="/" class="logo"><h2>#facundoGarcia</h2></a>

    <!-- -----------------SEARCH----------------- -->

    <form action="" method="GET">
      <input type="text" name="search" id="search" autocomplete="off" required placeholder="Find quickly">
      <label for="search">
        <i class="fas fa-search"></i>
      </label>
    </form>

    

    <!-- ---------------FAVORITES--------------- -->

    <p class="favorites">Menu</p>
    <div class="panelNav">
      
      <nav>
          <ul>

        <% for(let i = 0; i<ddbb.listCategories.length; i++){ %>
      
          <a href="<%=ddbb.listCategories[i].path%>" style="<%= ddbb.listCategories[i].style%>">
            <i class="fas fa-<%= ddbb.listCategories[i].icon%>"></i>
            <li><%=ddbb.listCategories[i].listName %></li>
          </a>
    
        <% } %> 

          </ul>
      </nav>
    </div>
    <!-- ---------------PANEL Bottom--------------- -->
    
    <div class="panelBottom">

      <a href="/quotes"><p>About me</p></a>
      <a href="/quotes"><p>Movies quotes</p></a>
      <a href="/dailyUi"><p>DailyUi Challenge</p></a>
      <a href="/dailyUi"><p>Contact me</p></a>
      
    </div>

    <!-- ----------------PANEL FOOTER---------------- -->
    <% if (typeof classMode != 'undefined') { %>
        <% if (classMode == 'dark') { %>

          <div class="mode">
            <span class="material-icons">
              wb_sunny
              </span>
            <div class="toggleDark toggleLight">
              <a href="/:mode/light">.</a>
            </div> 
            <span class="material-icons">
              brightness_2
              </span>

          </div>
      <% } else { %>

        <div  class="mode">
          <span class="material-icons">
            wb_sunny
            </span>
          <div class="toggleDark toggleLight">
            <a href="/:mode/dark">.</a>
          </div> 
          <span class="material-icons">
            brightness_2
            </span>
        </div>

      <% }%>
       
     <% } else { %>

      <div  class="mode">
        <span class="material-icons">
          wb_sunny
          </span>
        <div class="toggleDark toggleLight">
          <a href="/:mode/dark">.</a>
        </div> 
        <span class="material-icons">
          brightness_2
          </span>
      </div>
      
    <% } %>
    
  
    

    <div class="panelFooter">
      © fletech  
    </div>

  </header>

<!-- ------------------------------------------------------------- -->
<!-- ----------------------------MAIN----------------------------- -->
<!-- ------------------------------------------------------------- -->
  
  <main id="container">

    <!-- -------------NAV BAR TOP---------------- -->

      <nav class="navTop">
        <h3 style="text-align: left;"><%=title%> </h3>

        <div>
          
        <% if (typeof user != 'undefined') { %>
          <a href=""><i class="fas fa-inbox"></i></a>
          <a href="/abm"><i class="fas fa-folder "></i></a>
          <a href="/"><i class="fas fa-user "></i></a>
          <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>

        <% } else { %>
          <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
        <% } %>
        </div> 
      </nav>


    <!-- ----------------IMG COVER---------------- -->
    <div class="imgCover">
      <div class="layout">
      <img src="/images/convertidas/background4.jpg" alt="">
      </div>
    </div>
    
    <!-- ---------Main TITLE and EMOTICON---------- -->
    <article>

      <div class="heading">
        
        <span><%=avatar%></span>
        <h3><%= h3 %> </h3>
      </div>

    </article>
    
<!-- ----------------------------------------------------------------- -->
<!-- ----------------------------RENDERED----------------------------- -->

    <section class="including">
          

          <%- include(`./partials/${view}`) %> 
          <!--DailyCards-->
        
    </section>


<!-- ----------------------------------------------------------------- -->
<!-- -----------------------------FOOTER------------------------------ -->
<!-- ----------------------------------------------------------------- -->  

    <footer id="footerAdmin">
      <h3>Facundo García</h3>

      <p>FullStack Developer</p>
 
      <div class="contactMe">
           <%- include('./partials/contactMe') %>
      </div>
      <a href="/abm" target="_blank"><i class="fas fa-lock"></i></a>
    </footer>
  </main>

</body>
</html>